{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row m-md-5">
        <div class="col-sm-12">
            <h1 class="display-4">About</h1>
        </div>
        <div class="col-sm-12">
            <p class="lead">Hey! I'm <a href="https://arionmiles.me/" target="_blank">Kanishk</a>, 
                and I created Diomedes to get the best seats in the theaters as soon as they open ticket sales.
                BookMyShow's notifications are slow and not accurate. But this website allows you to get alerts as soon
                as the theater you select starts ticket sales.
            </p>
            <p class="lead">
                You can select a maximum of 5 theaters. This is done to ensure that each alert is safely fulfilled.
            </p>
            <p class="lead"><strong>Meaning of the name:</strong></p>
            <blockquote class="blockquote">
                <p class="lead">Diomedes <span class="font-italic">(Diomēdēs)</span> was the commander of 80 Argive
                    ships and one of the most respected leaders in the Trojan War. His famous exploits include the wounding of
                    Aphrodite, the slaughter of Rhesus and his Thracians, and seizure of the Trojan Palladium, the
                    sacred image of the goddess Pallas Athena that protected Troy.
                </p>
                <footer class="blockquote-footer">Britannica.com</footer>
           </blockquote>
        </div>
    </div>
</div>
{% endblock %}