{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row m-md-5">
        <div class="col-sm-12">
            <h1 class="display-4">About</h1>
        </div>
        <div class="col-sm-12">
            <p class="lead">This project is inspired from <a href="https://github.com/iAmMrinal0/django_moviealert"
                    target="_blank">django_moviealert</a></p>
            <p class="lead">I had trouble getting the original project to run as it was missing an important script for
                populating the Regions database model, without which it's impossible to run the project. It also used
                HTML
                scraping, and the markup of BookMyShow (BMS) has changed since the original project was last updated.
                It also wasn't production ready (used Django development server).
            </p>
            <p class="lead">This project uses a different technique to search the movies, and can do much more,
                including Sports,
                Plays, and other events (though the project is currently purposely limited to Movies). This project is
                easily deployable via Docker. This website is also mobile friendly.
            </p>
            <p class="lead">I liked the original idea, and given that BMS still doesn't support alerts for when movie
                tickets
                are available, I took it upon myself to improve on the work of the original author.
            </p>
            <p class="lead">
                The source code for this project is available on <a href="https://github.com/ArionMiles/Diomedes"
                    target="_blank">GitHub</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}