{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Diomedes allows you to set e-mail alerts for BookMyShow movie tickets across India!">
  <meta name="keywords" content="Diomedes, BookMyShow, Movie Alerts, Movie Tickets, Free Movie Alerts">
  <meta name="author" content="Kanishk Singh">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="//code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
  {% block css %}
  {% endblock %}
  {% block javascript %}
  {% endblock %}
  <title>Diomedes</title>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29508202-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-29508202-5');
  </script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href={% url 'home' %}>Diomedes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible Navbar -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url 'reminder_view' %}>Add a Reminder</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'trends' %}>Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'profile' %}>Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_logout' %}>Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_login' %}>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_signup' %}>Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted"><a href="https://github.com/ArionMiles/Diomedes" target="_blank">Source</a> |</span>
      <span class="text-muted"><a href={% url 'about' %}>About</a> |</span>
      <span class="text-muted"><a href={% url 'faq' %}>FAQ</a></span>
    </div>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
  crossorigin="anonymous"></script>
</body>

</html>