{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  {% block django_select2 %}
  {% endblock %}
  <title>Diomedes</title>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29508202-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-29508202-5');
  </script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href={% url 'home' %}>Diomedes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible Navbar -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url 'reminder_view' %}>Add a Reminder</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'profile' %}>Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_logout' %}>Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_login' %}>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'account_signup' %}>Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted"><a href="https://github.com/ArionMiles/Diomedes" target="_blank">Source</a> |</span>
      <span class="text-muted"><a href={% url 'about' %}>About</a></span>
    </div>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>