{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row m-md-5">
        <div class="col-sm-12 pt-4">
            <p class="lead">Diomedes allows you to get early notifications for your favorite movies about to hit
                theaters.
            </p>
            <p class="lead">Simply {% if not user.is_authenticated %}<a href={% url 'account_signup' %}>sign up</a>
                (or <a href={% url 'account_login' %}>login</a> with your Google account)
                {% else %}sign up (or login with your Google account){% endif %} and <a href={% url 'reminder_view' %}>
                    give us the details of the movie</a> and the date, along with your choice of theaters and we'll send
                you an email as soon as the theaters open their sales!
            </p>
        </div>
    </div>
</div>

{% endblock %}