{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h1 class="display-4">Diomedes</h1>
        </div>
        <div class="col-sm-12">
            <blockquote class="blockquote">
                <p class="lead">Diomedes <span class="font-italic">(Diomēdēs)</span> was the commander of 80 Argive
                    ships
                    and one of the most respected leaders in the Trojan War. His famous exploits include the wounding of
                    Aphrodite, the slaughter of Rhesus and his Thracians, and seizure of the Trojan Palladium, the
                    sacred
                    image of the goddess Pallas Athena that protected Troy.
                </p>
                <footer class="blockquote-footer">Britannica.com</footer>

            </blockquote>
            <p class="lead">This website has nothing to do with Greek Mythology. We chose the name because it sounds
                nice.</p>
            <p class="lead">Diomedes allows you to get early notifications for your favorite soon-to-hit-theatres
                movies.</p>
            <p class="lead">Simply sign up (or login with your Google account) and give us the details of the movie and
                the date you wish to book tickets
                for we'll send you an email as soon as the tickets for that date are available!
            </p>
            <p class="lead">
                Start by <a href={% url 'account_login' %}>logging in</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}