{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {{ form.media.css }}
{% endblock%}

{% block javascript %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static 'js/autocomplete.js' %}></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-md-5">
        <div class="col-sm-12">
            <form action={% url 'reminder_view' %} method="post">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="invalid-feedback d-block">
                                <strong>{{ error|escape }}</strong>
                            </p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="invalid-feedback d-block">
                            <strong>{{ error|escape }}</strong>
                        </p>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                {{ form.name|as_crispy_field }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form.language|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.dimension|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.date|as_crispy_field }}
                    </div>
                </div>
                {{ form.theaters|as_crispy_field }}
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </form>
        </div>
    </div>
</div>
{{ form.media.js }}

{% endblock %}