{% extends "base.html" %}

{% block content %}
<div class="container pt-4 pb-4">
        <div class="card">
            <div class="card-header">
                Trending Movies
            </div>
            <ul class="list-group list-group-flush">
                {% for movie in trending %}
                <li class="list-group-item"><a href={% url 'reminder_view' %}?movie={{ movie|urlencode }}>{{ movie }}</li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}