{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block django_select2 %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="display-4">Profile</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <p class="lead">Email: {{ user.email }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 pb-4">
            {% if not user.profile.region %}
            <p class="alert alert-primary">
                <strong>Please set your City before adding a reminder</strong>
            </p>
            {% endif %}
            <form method="post">{% csrf_token %}
                {{ form.region | as_crispy_field }}
                <input type="submit" class="btn btn-primary btn-block" value="Update">
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        {% if reminders|length > 0 %}
        <div class="col-sm-6">
            <p class="lead">Your reminders:</p>
            {% for reminder in reminders %}
            <p class="lead">
                <a href={% url 'edit_reminder' reminder.id %}>{{ reminder.name }} ({{ reminder.date }})</a>
            </p>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-sm-6">
            <p class="lead">You have no reminders added. <a href={% url 'reminder_view' %}>Try adding one</a></p>
        </div>
        {% endif %}
    </div>
</div>

{{ form.media.js }}

{% endblock %}