{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block django_select2 %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-md-5">
        <div class="col-sm-12">
            <p class="lead">Email: {{ user.email }}</p>
        </div>
        <div class="col-md-4 pb-4">
            <form method="post">{% csrf_token %}
                {{ form.subregion | as_crispy_field }}
                <input type="submit" class="btn btn-primary btn-block" value="Update">
            </form>
        </div>
        <div class="col-sm-12">
            {% if reminders|length > 0 %}
                <p class="lead">Your reminders:</p>
                {% for reminder in reminders %}
                <p class="lead">
                    <a href={% url 'edit_reminder' reminder.id %}>{{ reminder.name }} ({{ reminder.date }})</a>
                </p>
                {% endfor %}
            {% else %}
                <p class="lead">You have no reminders added. <a href={% url 'reminder_view' %}>Try adding one</a></p>
            {% endif %}
        </div>
    </div>
</div>

{{ form.media.js }}

{% endblock %}